#parent {
	text-align: center;
}
#parent > * {
	margin-bottom: 10px;
}

#timer {
	font-size: 18px;
}
#text {
	font-size: 17px;
	font-style: italic;
}

article.prediction button {
	padding: 5px 10px;
	font-size: 15px;
	cursor: pointer;
}
article.prediction button:not(.active) {
	display: none;
}


/* Autofill section */

#parent-autofill {
	position: relative;
}
#autofill-input {
	padding: 5px;
	font-size: 18px;
	width: 250px;
}

#parent-autofill ul {
	position: absolute;
	margin: 0;
	padding: 0;
	list-style-type: none;
	background-color: white;
	z-index: 100;
}
#parent-autofill li {
	border: 1px solid gray;
	width: 250px;
	font-size: 18px;
	padding: 5px;
	background-color: rgb(7, 100, 182);
	color: aliceblue;
	
	z-index: 100;
}
#parent-autofill li:hover {
	border: 1px solid black;
	cursor: pointer;
	
}


/* spoiler section */


p.spoiler:not(.active) {
	display: none;
}

.spoiler-container {
	position: relative;
	z-index: 1;
}

.spoiler-container::after {
	content: '<';
	display: inline-block;
	transform: rotate(-90deg);
	text-shadow: 1px 1px 1px black;
	
	z-index: 1;
}

ul.tabs-nav-list {
	margin: 0;
	list-style: none;
	padding: 0;
	display: flex;
	gap: 10px;
}



.tab:not(.active) {
	display: none;
}

.tabs-nav-item {
	padding: 10px;
}

.tabs-nav-item:not(.active) {
	background-color: rgb(255, 255, 255);
	border: 1px solid black;
}
.tabs-nav-item:not(.active):hover {
	background-color: rgb(224, 224, 224);
}

.tabs-nav-item {
	background-color: rgb(180, 180, 180);

}

.tabs {
	padding: 10px;
	background-color: rgb(180, 180, 180);
	width: 300px;
	height: 150px;
}

/* accordeon section */

.accordeon-parent {
	width: 50vw;
	margin: 0 auto;
}

.accordeon-button {
	width: 100%;
}

.accordeon-description {

	text-align: left;
	padding: 10px;
	height: 150px;
	border: 1px dashed red;
}

.accordeon-description:not(.active) {
	display: none;
}

/* Cities block */

/* To do list */

.toDo-list {
	list-style: none;
	padding: 0;
}

.toDo-list li.done {
	list-style: url(Images/accept-checklist.svg);
}

.toggleDoneButton {
	border: none;
	width: 0.8rem;
	height: 0.8rem;
	margin-right: 5px;
	background: no-repeat center/cover url(Images/cancel-checklist.svg);
}
.toggleDoneButton.done {
	background: no-repeat center/cover url(Images/accept-checklist.svg);
}

.toDo-removeButton {
	border: none;
	width: 1rem;
	height: 1rem;
	margin-right: 5px;
	background: no-repeat center/cover url(Images/trash-svgrepo-com.svg);
}

.toDo-list span.completed {
	text-decoration: line-through;
}

/* To do list end */

/* calculator */

.calculator-wrapper {
	width: 90vw;
	margin: 0 auto;
}

.calculator-input-list {

	display: flex;
	gap: 10px;

	list-style: none;
	padding: 0;
	justify-content: center;

}

.calculator-input-list input, .calculator-input-list button {

	box-sizing: border-box;
	width: calc((90vw/4) - 10px);
	padding: 0;
} 

.goods-calculator-article th, .goods-calculator-article td {
	border: 1px solid black;
	position: relative;
} 

.calculator-table {
	width: 90vw;
	margin: 0 auto;
}

.calculator-table td:first-child:not(th) {
	text-align: center;
}
.calculator-table td:last-child:not(th) {
	text-align: center;
}
.calculator-table-total {
	width: 20vw;
	margin-left: auto;
}

.calculator-table input {
	position: absolute;
	top: 0;
	left: 0;
	width: 90%;
	border: none;
	background: transparent;
	text-align: center;
}

.calculator-table input:active, 
.calculator-table input:focus {
outline: none;
color: whitesmoke;
}

.activeTD {
	background-color: rgb(61, 61, 61);
}
/* calculator end */

.styled-test input {
	padding: 5px;
	border-radius: 5px;
	border: 1px solid black;
	outline: 1px solid black;
}
.styled-test input.right {
	border: 1px solid green;
	outline: 1px solid green;
}
.styled-test input.wrong {
	border: 1px solid red;
	outline: 1px solid red;
}

.test-tip {
	font-size: 10px;
}

/* radio-test section */

.radio-question {
	padding: 10px;
}
.radio-question label {
 margin-right: 10px;
}

/* slider */

.slider-block {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.slider-content-wrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

/* second slider */

.second-slider img {
	display: none;
}
.second-slider img.visible {
	display: inline-block;
}

.second-slider {
	display: flex;
	justify-content: center;
	align-items: center;
}

/* tic-tac-toe */


.ttt-table {
	margin: 0 auto;
}


.ttt-table td {
	box-sizing: border-box;
	text-align: center;
	width: 50px;
	height: 50px;
	border: 1px solid black;
}

.ttt-table td.markedX {
	border: 2px solid rgb(255, 0, 119);
}
.ttt-table td.markedO {
	border: 2px solid rgb(0, 68, 255);
}

#ttt-reset-button {
	display: block;
	width: 50px;
	margin: 10px auto 0 auto;
}

/* changing colors */

.changing-colors-table {
	width: 150px;
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;
}

.changing-colors-table td {
	box-sizing: border-box;

	width: 50px;
	height: 50px;

	border: 1px solid black;
	border-radius: 20px;

	text-align: center;
	font-weight: bold;
}

.cell_red {
	background: red;
}
.cell_green {
	background: green;
}
.cell_blue {
	background: blue;
}

.changing-table-steps {
	text-align: center;
	margin-block: 10px;
}

/* calendar */

.calendar-parent {
	text-align: center;
}

.calendar {
	display: inline-block;
}

.calendar td, .calendar th {
	padding: 5px 12px;
	border: 1px solid black;
	text-align: center;
}
